/* header */
.title {
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.profilepic {
  width: 8em;
  margin-bottom: none;
  padding-bottom: none;
}

#main .inner h1 {
  letter-spacing: 0.03em;
  margin-bottom: 0.3em;
}

.header-intro {
  padding-bottom: 0.5em;
  letter-spacing: 0;
  font-size: 1.6em;
  font-weight: 400;
}

.header-intro a {
  color: var(--hover-color);
  text-decoration: none;
  font-weight: 600;
}

/* menu */
#menu .inner h2 {
  margin-bottom: 0.8em;
}

.menu-info {
  font-weight: 400;
  text-transform: none;
}

#menu li div {
  display: flex;
  align-items: center;
}

#menu li div a {
  padding-left: 0.5em;
}

/* tiles */
.project-title, .project-arrow, .tiles .icon {
  font-size: 1.3em;
}

.github-title {
  display: flex;
  align-items: center;
}

.project-title {
  padding-left: 0.7em;
}

.content-blurb, .content-tech {
  padding: 0.8em;
  margin-bottom: 0.8em;
}

.content-tech, .content-click {
  font-size: 0.85em;
  padding-bottom: 0;
}

.content-blurb {
  font-size: 1em;
  font-style: italic;
}

.git-click{
  font-size: 0.85em !important;
}

.click-instruct, .more-projects {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: none;
}

.click-instruct {
  margin: 0;
  margin-top: 0.8em;
}

.click-here {
  color: var(--hover-color);
}

/* skills */

.section-title {
  margin-bottom: 0.3em;
  margin-top: 1.4em;

  font-size: 2.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.skills {
  font-size: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}

.resume {
  font-size: 1em;
}

/* about me */
.about-me-p {
  font-size: 1.3em;
}

/* footer */
.get-in-touch {
  /* margin-bottom: 10px; */
}

.contact-info {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.contact-info a {
  color: var(--hover-color);
}
