/* header */
.title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.profilepic {
  width: 8em;
  margin-bottom: none;
  padding-bottom: none;
}

#main .inner h1 {
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.header-intro {
  padding-bottom: 10px;
  letter-spacing: 0;
  font-size: 30px;
  font-weight: 400;
}

.header-intro a {
  color: var(--hover-color);
  text-decoration: none;
  font-weight: 600;
}

/* menu */
#menu .inner h2 {
  margin-bottom: 20px;
}

.menu-info {
  font-weight: 400;
  text-transform: none;
}

/* tiles */
.project-title {
  font-size: 22px;
}

.project-arrow {
  font-size: 22px;
}

.content-blurb, .content-tech {
  padding: 5px;
  margin-bottom: 10px;
}

.content-tech, .content-click {
  font-size: 15px;
  padding-bottom: 0;
}

.content-blurb {
  font-size: 18px;
  font-style: italic;
}

.git-click{
  font-size: 15px !important;
}

.click-instruct, .more-projects {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: none;
}

.click-instruct {
  margin: 0;
  margin-top: 20px;
}

.click-here {
  color: var(--hover-color);
}

/* skills */

.section-title {
  margin-bottom: 10px;
  margin-top: 20px;

  font-size: 2.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.skills {
  font-size: 1.5em;
  letter-spacing: 0.02em;
}

.resume {
  font-size: 1em;
}

/* footer */
.get-in-touch {
  margin-bottom: 10px;
}

.contact-info {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
