/* header */
.title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

.profilepic {
  width: 8em;
  margin-bottom: none;
  padding-bottom: none;
}

#main .inner h1 {
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.header-intro {
  letter-spacing: 0;
  font-size: 30px;
  font-weight: 400;
}

.header-intro a {
  color: var(--hover-color);
  text-decoration: none;
  font-weight: 600;
}

/* menu */
#menu .inner h2 {
  margin-bottom: 20px;
}

.menu-info {
  font-weight: 400;
  text-transform: none;
}

/* tiles */
