/* Elements */
body {
  --page-margin: 24px;
  --title-gap: 20px;
  --subtitle-gap: 8px;
  --text-gap: 1.5em;
  --col-gap: 24px;
  --section-gap: 30px;
}
h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.5;
}
h1, h1 sup {
  margin-bottom: 50px;
  letter-spacing: 0.5px;
  font-size: 36px;
  color: var(--dark-blue);
}
h2, h2 sup {
  margin-bottom: var(--title-gap);
  font-size: 32px;
  letter-spacing: 0.5px;
  color: var(--dark-blue);
}
h3, h3 sup {
  margin: var(--subtitle-gap) 0;
  font-size: 22px;
  color: var(--dark-blue);
}
h4, h4 sup {
  font-size: 20px;
  margin-bottom: var(--subtitle-gap);
  color: var(--mid-gray);
}
p {
  margin-bottom: var(--text-gap);
  font-size: 16px;
  line-height: 150%;
}
li {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 130%;
}
li:last-child {
  margin-bottom: var(--text-gap);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--med-blue);
}
a.normal {
  color: var(--dark-gray);
}
a:hover {
  color: var(--dark-blue);
  transition: 0.25s;
}
img {
  width: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
ol, ul {
  margin-left: 2em;
}
sup {
  color: inherit;
}
/* responsive font-sizes and gaps */
@media only screen and (min-width: 768px) {
  body {
    --page-margin: 64px;
    --title-gap: 40px;
    --col-gap: 30px;
    --section-gap: 40px;
  }
  p, li {
    font-size: 18px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  .quote {
    font-size: 32px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    --page-margin: max(calc(50vw - 490px), 96px);
    /*max 980px*/
    --title-gap: 40px;
    --col-gap: 30px;
    --section-gap: 50px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 24px;
  }
  p, li {
    font-size: 17px;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top button */
.top-btn {
  position: fixed;
  right: 40px;
  bottom: 32px;
  width: 44px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  color: var(--bg-color-alt);
  transition: all 300ms ease-in-out;
  background: var(--med-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
  border-radius: 50%;
  cursor: pointer;
}
.top-btn.hide {
  bottom: -56px;
}
.top-btn:hover {
  transform: scale(1.1);
}

/* Side circles outline */
.outline {
  display: none;
}
@media only screen and (min-width: 992px) {
  .outline {
    position: fixed;
    right: 56px;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .outline.hide {
    display: none;
  }
  .outline>.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 4px 0;
  }
  .outline>.item p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 8px;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  .outline>.item .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--dark-gray);
    opacity: .2;
    transition: all 300ms ease-in-out;
  }
  .outline>.item:hover>p {
    opacity: 1;
  }
  .outline>.item:hover>.dot {
    opacity: .5;
  }
  .outline>.item.active>.dot {
    opacity: .7;
  }
}

/* Text: colors, captions */
.hl-blue {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--light-blue) 60%);
}
.hl-yellow {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--light-yellow) 60%);
}
.hl-salmon {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--light-salmon) 60%);
}
.gray {
  color: var(--mid-gray);
}
.italic {
  font-style: italic;
}
.caption, .grid-caption {
  margin-top: 0.5em;
  text-align: center;
  font-size: 14px;
  color: var(--mid-gray);
}
.caption {
  line-height: 160%;
  padding-bottom: 32px;
}

/* Header */
section.title {
  width: 100%;
  margin: 0;
}
.title-img {
  width: 85%;
  max-width: 1200px;
  border: 1px solid var(--light-gray);
}

/* Overview */
.overview-info {
  display: grid;
  row-gap: 40px;
}
.quote {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  color: var(--dark-gray);
  opacity: .5;
}
.overview-item p strong {
  font-weight: 600;
}
.overview-item p {
  font-size: 16px;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .overview {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: var(--col-gap);
  }
  section.overview > h2 {
    grid-column: 1 / 3;
  }
}
@media only screen and (min-width: 992px) {
  section.overview {
    grid-template-columns: auto 25%;
    column-gap: 96px;
  }
  .overview-info {
    display: block;
  }
  .overview-item {
    margin-bottom: var(--title-gap);
  }
  .center>* {
    max-width: 720px;
  }
}

/* Sections */
section {
  width: 100%;
  box-sizing: border-box;
  padding: var(--section-gap) calc(var(--page-margin) - 150px);
  display: flex;
  flex-direction: column;
}
section.grey {
  background: var(--bg-color-alt);
}
section:last-of-type {
  margin-bottom: 100px;
}
.section-img {
  width: 30%;
  margin-left: 20px;
  float: right;
}

/* --------------------------------------------------- */

/* Comax Redesign project page */
.resp-redesign .flex img {
  width: 31%;
  margin-right: 10px;
  border: 1px solid var(--light-gray);
}
.final-hero {
  width: 85%;
  padding-bottom: 25px;
}
.last-section {
  margin-bottom: 80px;
}

/* Electry Design project page */
.sketch-item {
  width: 20%;
  margin: 0 25px;
}
.wf-item {
  width: 28%;
  margin: 0 25px;
}
.electry-title-img {
  width: 63%;
  border: 1px solid var(--mid-gray);
}
.wf-img {
  border: 1px solid var(--mid-gray);
}

/* Subscription Tracker project page */
.motivation-p {
  width: 70%;
}
.motivation-img {
  width: 25%;
  margin-left: 10px;
}
.tooltips-img {
  border: 1px solid var(--light-gray);
  margin-bottom: 30px;
  width: 30%;
  margin-right: 40px;
}
.product-p {
  margin-bottom: 10px;
}
.product-img {
  width: 55%;
  margin-bottom: 30px;
  border: 1px solid var(--light-gray);
}

/* Snippet project page */
.snippet-product-p {
  width: 42%;
  margin-right: 20px;
}
.snippet-product-img {
  width: 50%;
}
.feature-item {
  width: 30%;
  margin: 0 15px;
}